#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 784px 366px #fff, 291px 1416px #fff, 730px 1386px #fff,
    1144px 708px #fff, 1932px 1011px #fff, 1939px 1800px #fff, 1959px 631px #fff,
    138px 351px #fff, 398px 1271px #fff, 116px 1621px #fff, 1639px 709px #fff,
    5px 1119px #fff, 111px 590px #fff, 269px 29px #fff, 1095px 10px #fff,
    718px 67px #fff, 201px 581px #fff, 1804px 570px #fff, 1932px 1799px #fff,
    361px 1837px #fff, 1563px 635px #fff, 1894px 1905px #fff, 1547px 344px #fff,
    88px 1543px #fff, 160px 1714px #fff, 1340px 929px #fff, 994px 1163px #fff,
    894px 766px #fff, 728px 985px #fff, 1099px 234px #fff, 1602px 793px #fff,
    1446px 1139px #fff, 492px 1463px #fff, 442px 1713px #fff, 1721px 222px #fff,
    1873px 1008px #fff, 1395px 1156px #fff, 1037px 587px #fff, 13px 1651px #fff,
    269px 1874px #fff, 170px 1653px #fff, 213px 796px #fff, 652px 797px #fff,
    69px 471px #fff, 1882px 1411px #fff, 1090px 1285px #fff, 1003px 265px #fff,
    148px 171px #fff, 1276px 352px #fff, 1579px 31px #fff, 842px 982px #fff,
    1511px 1593px #fff, 1815px 904px #fff, 720px 1px #fff, 1843px 1726px #fff,
    563px 257px #fff, 1699px 136px #fff, 1326px 109px #fff, 803px 792px #fff,
    780px 926px #fff, 899px 269px #fff, 434px 656px #fff, 624px 1188px #fff,
    1388px 1790px #fff, 789px 1093px #fff, 462px 1342px #fff, 769px 153px #fff,
    771px 205px #fff, 1634px 325px #fff, 914px 887px #fff, 196px 1976px #fff,
    98px 685px #fff, 1143px 1228px #fff, 1212px 1342px #fff, 684px 609px #fff,
    1348px 1111px #fff, 1487px 778px #fff, 982px 1787px #fff, 1057px 1793px #fff,
    1968px 1013px #fff, 1810px 915px #fff, 714px 711px #fff, 353px 580px #fff,
    936px 1323px #fff, 1676px 649px #fff, 1366px 2000px #fff, 531px 613px #fff,
    1084px 445px #fff, 1354px 1339px #fff, 1481px 401px #fff, 259px 866px #fff,
    351px 1394px #fff, 1986px 410px #fff, 1935px 1573px #fff, 71px 489px #fff,
    1807px 485px #fff, 1183px 1419px #fff, 1308px 1758px #fff, 576px 1538px #fff,
    1772px 148px #fff, 139px 1560px #fff, 1039px 1925px #fff, 1000px 652px #fff,
    767px 993px #fff, 1111px 1776px #fff, 1742px 1215px #fff, 1697px 10px #fff,
    1449px 139px #fff, 636px 1283px #fff, 1735px 1686px #fff, 1380px 1276px #fff,
    625px 1951px #fff, 875px 1696px #fff, 1919px 1013px #fff, 1087px 1965px #fff,
    1070px 1398px #fff, 1386px 522px #fff, 930px 165px #fff, 1994px 753px #fff,
    1871px 1387px #fff, 1687px 147px #fff, 1525px 1078px #fff, 938px 1856px #fff,
    1538px 1848px #fff, 1822px 577px #fff, 1655px 1457px #fff, 325px 747px #fff,
    472px 1001px #fff, 1652px 372px #fff, 1227px 149px #fff, 887px 1099px #fff,
    734px 1240px #fff, 807px 413px #fff, 673px 925px #fff, 496px 65px #fff,
    1101px 204px #fff, 393px 1499px #fff, 1728px 1265px #fff, 1903px 1592px #fff,
    1508px 1922px #fff, 446px 1048px #fff, 961px 1524px #fff, 370px 1020px #fff,
    1663px 176px #fff, 1225px 70px #fff, 981px 1806px #fff, 1636px 1442px #fff,
    417px 1008px #fff, 1817px 1730px #fff, 80px 105px #fff, 952px 121px #fff,
    1784px 274px #fff, 1353px 1935px #fff, 1825px 1438px #fff, 1682px 876px #fff,
    1987px 888px #fff, 525px 1558px #fff, 1826px 7px #fff, 1414px 1939px #fff,
    81px 474px #fff, 1121px 890px #fff, 514px 460px #fff, 208px 287px #fff,
    1177px 512px #fff, 1717px 68px #fff, 893px 867px #fff, 809px 556px #fff,
    1140px 611px #fff, 1592px 769px #fff, 654px 950px #fff, 609px 458px #fff,
    1484px 185px #fff, 824px 1192px #fff, 1787px 1557px #fff, 388px 921px #fff,
    806px 242px #fff, 1134px 311px #fff, 1020px 167px #fff, 1737px 1595px #fff,
    1337px 1363px #fff, 935px 1704px #fff, 174px 808px #fff, 1080px 1550px #fff,
    920px 21px #fff, 801px 1590px #fff, 516px 973px #fff, 418px 561px #fff,
    264px 1096px #fff, 1334px 537px #fff, 1451px 391px #fff, 1051px 1562px #fff,
    1644px 1408px #fff, 1797px 158px #fff, 867px 612px #fff, 452px 1502px #fff,
    1794px 808px #fff, 827px 281px #fff, 1051px 137px #fff, 1339px 1126px #fff,
    696px 1368px #fff, 220px 1132px #fff, 1963px 1304px #fff, 910px 1678px #fff,
    1311px 623px #fff, 1944px 1156px #fff, 401px 922px #fff, 1080px 909px #fff,
    513px 555px #fff, 397px 1240px #fff, 956px 1928px #fff, 1677px 1163px #fff,
    354px 406px #fff, 462px 668px #fff, 1px 1625px #fff, 144px 1335px #fff,
    15px 1289px #fff, 1511px 1717px #fff, 273px 1138px #fff, 885px 1423px #fff,
    1889px 328px #fff, 1200px 639px #fff, 1322px 591px #fff, 1657px 66px #fff,
    1360px 1246px #fff, 421px 1253px #fff, 119px 248px #fff, 540px 1733px #fff,
    1152px 1278px #fff, 1827px 624px #fff, 1617px 122px #fff, 102px 1184px #fff,
    136px 796px #fff, 1702px 456px #fff, 1467px 1288px #fff, 749px 1138px #fff,
    446px 1070px #fff, 438px 1386px #fff, 1148px 319px #fff, 606px 480px #fff,
    580px 1089px #fff, 819px 345px #fff, 1021px 150px #fff, 922px 1171px #fff,
    219px 1148px #fff, 1110px 1876px #fff, 847px 1861px #fff, 1883px 1973px #fff,
    1730px 508px #fff, 678px 210px #fff, 292px 212px #fff, 1196px 17px #fff,
    55px 924px #fff, 1093px 1345px #fff, 727px 1055px #fff, 993px 412px #fff,
    1025px 1848px #fff, 888px 1984px #fff, 717px 1741px #fff, 1140px 843px #fff,
    653px 885px #fff, 824px 1289px #fff, 967px 675px #fff, 1101px 565px #fff,
    108px 1660px #fff, 1660px 1236px #fff, 1710px 1089px #fff,
    1458px 1270px #fff, 1682px 1787px #fff, 273px 1077px #fff,
    1979px 1567px #fff, 1214px 730px #fff, 123px 1275px #fff, 497px 1855px #fff,
    1128px 1433px #fff, 201px 1661px #fff, 1167px 273px #fff, 393px 154px #fff,
    1022px 296px #fff, 1109px 106px #fff, 129px 913px #fff, 744px 712px #fff,
    1296px 302px #fff, 1675px 1947px #fff, 723px 631px #fff, 200px 1524px #fff,
    125px 791px #fff, 1342px 1714px #fff, 762px 1982px #fff, 716px 430px #fff,
    1471px 665px #fff, 1934px 794px #fff, 1789px 633px #fff, 171px 1825px #fff,
    722px 1858px #fff, 367px 1708px #fff, 1982px 112px #fff, 437px 1053px #fff,
    584px 611px #fff, 1161px 315px #fff, 284px 563px #fff, 164px 1205px #fff,
    518px 152px #fff, 1519px 648px #fff, 1489px 1478px #fff, 217px 776px #fff,
    670px 716px #fff, 1865px 350px #fff, 1731px 665px #fff, 709px 446px #fff,
    985px 1441px #fff, 1722px 773px #fff, 291px 125px #fff, 463px 983px #fff,
    143px 1341px #fff, 1062px 207px #fff, 205px 1489px #fff, 1512px 887px #fff,
    295px 986px #fff, 56px 644px #fff, 1498px 1993px #fff, 1430px 599px #fff,
    658px 783px #fff, 418px 1089px #fff, 1214px 1363px #fff, 266px 556px #fff,
    1590px 413px #fff, 52px 926px #fff, 906px 1791px #fff, 1616px 1632px #fff,
    104px 1131px #fff, 370px 1667px #fff, 355px 1682px #fff, 1110px 1176px #fff,
    1331px 771px #fff, 1511px 500px #fff, 1839px 1364px #fff, 946px 1096px #fff,
    1249px 1045px #fff, 1729px 1475px #fff, 1521px 1320px #fff,
    141px 1199px #fff, 1766px 680px #fff, 1713px 277px #fff, 609px 1003px #fff,
    1871px 881px #fff, 359px 71px #fff, 1854px 946px #fff, 873px 1422px #fff,
    316px 1683px #fff, 78px 1232px #fff, 160px 405px #fff, 1877px 406px #fff,
    478px 1633px #fff, 1532px 373px #fff, 687px 296px #fff, 1438px 1277px #fff,
    1847px 377px #fff, 1003px 1899px #fff, 873px 35px #fff, 1910px 342px #fff,
    118px 1145px #fff, 278px 1948px #fff, 101px 587px #fff, 1915px 1416px #fff,
    209px 1348px #fff, 1277px 1768px #fff, 811px 585px #fff, 758px 743px #fff,
    1480px 407px #fff, 343px 582px #fff, 1359px 1589px #fff, 1429px 873px #fff,
    1192px 713px #fff, 1408px 315px #fff, 752px 1660px #fff, 1755px 248px #fff,
    793px 1804px #fff, 1897px 525px #fff, 1290px 315px #fff, 764px 1937px #fff,
    1583px 1243px #fff, 632px 1972px #fff, 1532px 1999px #fff, 156px 1929px #fff,
    466px 413px #fff, 28px 679px #fff, 1784px 225px #fff, 600px 1225px #fff,
    387px 175px #fff, 1670px 1367px #fff, 1949px 1950px #fff, 287px 1682px #fff,
    1221px 1666px #fff, 619px 684px #fff, 931px 935px #fff, 1736px 1572px #fff,
    1734px 1769px #fff, 1843px 894px #fff, 101px 1333px #fff, 1503px 1381px #fff,
    14px 1779px #fff, 1745px 1051px #fff, 179px 1920px #fff, 128px 1035px #fff,
    1253px 657px #fff, 576px 1428px #fff, 1584px 1790px #fff, 888px 1787px #fff,
    262px 1874px #fff, 187px 539px #fff, 287px 1914px #fff, 1820px 1386px #fff,
    1433px 830px #fff, 14px 97px #fff, 319px 1477px #fff, 1551px 1559px #fff,
    1940px 1982px #fff, 1814px 957px #fff, 1632px 691px #fff, 1279px 1863px #fff,
    1554px 769px #fff, 378px 240px #fff, 548px 669px #fff, 317px 1187px #fff,
    545px 614px #fff, 785px 1676px #fff, 1853px 1776px #fff, 1985px 1115px #fff,
    584px 1213px #fff, 757px 735px #fff, 1794px 275px #fff, 1607px 1501px #fff,
    1792px 1853px #fff, 1578px 133px #fff, 1319px 1859px #fff, 1394px 409px #fff,
    736px 295px #fff, 1160px 1248px #fff, 1988px 1271px #fff, 918px 1921px #fff,
    1221px 1205px #fff, 756px 362px #fff, 775px 1027px #fff, 414px 421px #fff,
    1471px 1208px #fff, 1909px 1314px #fff, 638px 257px #fff, 1037px 127px #fff,
    1856px 1577px #fff, 1931px 565px #fff, 778px 604px #fff, 689px 659px #fff,
    980px 1248px #fff, 302px 1111px #fff, 794px 437px #fff, 363px 1688px #fff,
    1551px 1623px #fff, 834px 1634px #fff, 1741px 1310px #fff, 1601px 727px #fff,
    789px 1547px #fff, 191px 236px #fff, 1782px 378px #fff, 761px 1285px #fff,
    592px 1269px #fff, 1096px 641px #fff, 803px 1449px #fff, 1749px 147px #fff,
    381px 1501px #fff, 171px 803px #fff, 1911px 29px #fff, 581px 1972px #fff,
    528px 592px #fff, 1164px 1778px #fff, 1421px 1068px #fff, 1261px 894px #fff,
    1545px 1260px #fff, 857px 594px #fff, 340px 73px #fff, 1258px 1786px #fff,
    614px 1904px #fff, 1797px 328px #fff, 1527px 742px #fff, 873px 931px #fff,
    951px 802px #fff, 138px 672px #fff, 24px 1916px #fff, 1669px 832px #fff,
    1571px 632px #fff, 881px 1711px #fff, 184px 1800px #fff, 1468px 1089px #fff,
    953px 721px #fff, 381px 497px #fff, 1038px 1262px #fff, 665px 1705px #fff,
    373px 1298px #fff, 1206px 620px #fff, 1000px 1322px #fff, 750px 1884px #fff,
    201px 1896px #fff, 814px 549px #fff, 165px 71px #fff, 1389px 1845px #fff,
    951px 1244px #fff, 621px 1199px #fff, 944px 1576px #fff, 940px 1582px #fff,
    1295px 101px #fff, 923px 1682px #fff, 1712px 1561px #fff, 523px 1079px #fff,
    1398px 987px #fff, 883px 809px #fff, 515px 793px #fff, 1678px 543px #fff,
    1659px 224px #fff, 790px 575px #fff, 1038px 920px #fff, 1099px 726px #fff,
    329px 1947px #fff, 36px 1581px #fff, 1806px 626px #fff, 532px 300px #fff,
    1656px 1942px #fff, 684px 747px #fff, 879px 913px #fff, 1766px 370px #fff,
    641px 1184px #fff, 983px 1601px #fff, 1023px 1366px #fff, 952px 1265px #fff,
    736px 133px #fff, 119px 763px #fff, 1866px 138px #fff, 336px 1827px #fff,
    1663px 1209px #fff, 105px 342px #fff, 242px 1511px #fff, 555px 175px #fff,
    857px 289px #fff, 1783px 927px #fff, 364px 1907px #fff, 1320px 1322px #fff,
    34px 413px #fff, 733px 909px #fff, 532px 370px #fff, 1195px 153px #fff,
    1377px 490px #fff, 798px 34px #fff, 1455px 125px #fff, 99px 823px #fff,
    982px 362px #fff, 1530px 393px #fff, 1601px 1674px #fff, 414px 1905px #fff,
    841px 34px #fff, 1065px 1701px #fff, 1835px 1848px #fff, 1192px 417px #fff,
    1260px 1663px #fff, 1661px 1842px #fff, 1622px 984px #fff, 398px 491px #fff,
    192px 666px #fff, 1058px 1416px #fff, 1126px 225px #fff, 237px 339px #fff,
    1427px 1392px #fff, 306px 1469px #fff, 200px 1136px #fff, 1558px 240px #fff,
    993px 1721px #fff, 169px 924px #fff, 407px 849px #fff, 1641px 1561px #fff,
    945px 886px #fff, 1707px 419px #fff, 222px 214px #fff, 1685px 1830px #fff,
    863px 871px #fff, 497px 1817px #fff, 538px 90px #fff, 788px 1431px #fff,
    1927px 1374px #fff, 893px 775px #fff, 481px 975px #fff, 338px 154px #fff,
    650px 1295px #fff, 1777px 1062px #fff, 170px 739px #fff, 1116px 569px #fff,
    74px 236px #fff, 544px 842px #fff, 1130px 90px #fff, 573px 396px #fff,
    68px 1219px #fff, 457px 1257px #fff, 1838px 930px #fff, 604px 1516px #fff,
    1535px 916px #fff, 1600px 1048px #fff, 1594px 404px #fff, 498px 482px #fff,
    612px 1725px #fff, 474px 342px #fff, 1045px 38px #fff, 1147px 1494px #fff,
    122px 403px #fff, 119px 318px #fff, 490px 213px #fff, 1083px 1348px #fff,
    492px 1455px #fff, 764px 704px #fff, 1049px 600px #fff, 805px 1752px #fff,
    738px 1175px #fff, 1352px 1703px #fff, 1471px 447px #fff, 446px 1830px #fff,
    921px 1954px #fff, 561px 604px #fff, 1110px 387px #fff, 1129px 826px #fff,
    1050px 1294px #fff, 94px 374px #fff, 755px 1253px #fff, 562px 1726px #fff,
    501px 1696px #fff, 1084px 1852px #fff, 72px 1295px #fff, 48px 1901px #fff,
    1948px 760px #fff, 1022px 1193px #fff, 366px 749px #fff, 417px 440px #fff,
    256px 1239px #fff, 1658px 1911px #fff, 745px 656px #fff, 1091px 216px #fff,
    533px 444px #fff, 1071px 168px #fff, 825px 23px #fff, 357px 1765px #fff,
    731px 1102px #fff, 1106px 799px #fff, 846px 1015px #fff, 1532px 1019px #fff,
    1711px 29px #fff, 445px 1527px #fff, 140px 1095px #fff, 763px 1517px #fff,
    1605px 1815px #fff, 1543px 40px #fff, 386px 1303px #fff, 1445px 412px #fff,
    1921px 1365px #fff, 914px 1146px #fff, 225px 329px #fff, 1443px 624px #fff,
    648px 1694px #fff, 305px 1095px #fff, 1469px 126px #fff, 1918px 581px #fff,
    1200px 293px #fff, 96px 1684px #fff, 407px 1888px #fff, 1417px 1639px #fff,
    1233px 1177px #fff, 1709px 1136px #fff, 91px 385px #fff, 1536px 1326px #fff,
    75px 1726px #fff, 1112px 1583px #fff, 1663px 43px #fff, 1203px 1587px #fff,
    183px 1643px #fff, 921px 845px #fff, 1167px 1375px #fff, 715px 689px #fff,
    1714px 666px #fff, 1220px 924px #fff, 1591px 1630px #fff, 370px 1926px #fff,
    1571px 1014px #fff, 17px 1087px #fff, 907px 1831px #fff, 114px 1319px #fff,
    380px 852px #fff, 368px 1831px #fff, 1780px 1666px #fff, 113px 748px #fff,
    533px 783px #fff, 422px 1922px #fff, 207px 1725px #fff, 1613px 301px #fff,
    916px 144px #fff, 1078px 1930px #fff, 982px 362px #fff, 1209px 1708px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 784px 366px #fff, 291px 1416px #fff, 730px 1386px #fff,
    1144px 708px #fff, 1932px 1011px #fff, 1939px 1800px #fff, 1959px 631px #fff,
    138px 351px #fff, 398px 1271px #fff, 116px 1621px #fff, 1639px 709px #fff,
    5px 1119px #fff, 111px 590px #fff, 269px 29px #fff, 1095px 10px #fff,
    718px 67px #fff, 201px 581px #fff, 1804px 570px #fff, 1932px 1799px #fff,
    361px 1837px #fff, 1563px 635px #fff, 1894px 1905px #fff, 1547px 344px #fff,
    88px 1543px #fff, 160px 1714px #fff, 1340px 929px #fff, 994px 1163px #fff,
    894px 766px #fff, 728px 985px #fff, 1099px 234px #fff, 1602px 793px #fff,
    1446px 1139px #fff, 492px 1463px #fff, 442px 1713px #fff, 1721px 222px #fff,
    1873px 1008px #fff, 1395px 1156px #fff, 1037px 587px #fff, 13px 1651px #fff,
    269px 1874px #fff, 170px 1653px #fff, 213px 796px #fff, 652px 797px #fff,
    69px 471px #fff, 1882px 1411px #fff, 1090px 1285px #fff, 1003px 265px #fff,
    148px 171px #fff, 1276px 352px #fff, 1579px 31px #fff, 842px 982px #fff,
    1511px 1593px #fff, 1815px 904px #fff, 720px 1px #fff, 1843px 1726px #fff,
    563px 257px #fff, 1699px 136px #fff, 1326px 109px #fff, 803px 792px #fff,
    780px 926px #fff, 899px 269px #fff, 434px 656px #fff, 624px 1188px #fff,
    1388px 1790px #fff, 789px 1093px #fff, 462px 1342px #fff, 769px 153px #fff,
    771px 205px #fff, 1634px 325px #fff, 914px 887px #fff, 196px 1976px #fff,
    98px 685px #fff, 1143px 1228px #fff, 1212px 1342px #fff, 684px 609px #fff,
    1348px 1111px #fff, 1487px 778px #fff, 982px 1787px #fff, 1057px 1793px #fff,
    1968px 1013px #fff, 1810px 915px #fff, 714px 711px #fff, 353px 580px #fff,
    936px 1323px #fff, 1676px 649px #fff, 1366px 2000px #fff, 531px 613px #fff,
    1084px 445px #fff, 1354px 1339px #fff, 1481px 401px #fff, 259px 866px #fff,
    351px 1394px #fff, 1986px 410px #fff, 1935px 1573px #fff, 71px 489px #fff,
    1807px 485px #fff, 1183px 1419px #fff, 1308px 1758px #fff, 576px 1538px #fff,
    1772px 148px #fff, 139px 1560px #fff, 1039px 1925px #fff, 1000px 652px #fff,
    767px 993px #fff, 1111px 1776px #fff, 1742px 1215px #fff, 1697px 10px #fff,
    1449px 139px #fff, 636px 1283px #fff, 1735px 1686px #fff, 1380px 1276px #fff,
    625px 1951px #fff, 875px 1696px #fff, 1919px 1013px #fff, 1087px 1965px #fff,
    1070px 1398px #fff, 1386px 522px #fff, 930px 165px #fff, 1994px 753px #fff,
    1871px 1387px #fff, 1687px 147px #fff, 1525px 1078px #fff, 938px 1856px #fff,
    1538px 1848px #fff, 1822px 577px #fff, 1655px 1457px #fff, 325px 747px #fff,
    472px 1001px #fff, 1652px 372px #fff, 1227px 149px #fff, 887px 1099px #fff,
    734px 1240px #fff, 807px 413px #fff, 673px 925px #fff, 496px 65px #fff,
    1101px 204px #fff, 393px 1499px #fff, 1728px 1265px #fff, 1903px 1592px #fff,
    1508px 1922px #fff, 446px 1048px #fff, 961px 1524px #fff, 370px 1020px #fff,
    1663px 176px #fff, 1225px 70px #fff, 981px 1806px #fff, 1636px 1442px #fff,
    417px 1008px #fff, 1817px 1730px #fff, 80px 105px #fff, 952px 121px #fff,
    1784px 274px #fff, 1353px 1935px #fff, 1825px 1438px #fff, 1682px 876px #fff,
    1987px 888px #fff, 525px 1558px #fff, 1826px 7px #fff, 1414px 1939px #fff,
    81px 474px #fff, 1121px 890px #fff, 514px 460px #fff, 208px 287px #fff,
    1177px 512px #fff, 1717px 68px #fff, 893px 867px #fff, 809px 556px #fff,
    1140px 611px #fff, 1592px 769px #fff, 654px 950px #fff, 609px 458px #fff,
    1484px 185px #fff, 824px 1192px #fff, 1787px 1557px #fff, 388px 921px #fff,
    806px 242px #fff, 1134px 311px #fff, 1020px 167px #fff, 1737px 1595px #fff,
    1337px 1363px #fff, 935px 1704px #fff, 174px 808px #fff, 1080px 1550px #fff,
    920px 21px #fff, 801px 1590px #fff, 516px 973px #fff, 418px 561px #fff,
    264px 1096px #fff, 1334px 537px #fff, 1451px 391px #fff, 1051px 1562px #fff,
    1644px 1408px #fff, 1797px 158px #fff, 867px 612px #fff, 452px 1502px #fff,
    1794px 808px #fff, 827px 281px #fff, 1051px 137px #fff, 1339px 1126px #fff,
    696px 1368px #fff, 220px 1132px #fff, 1963px 1304px #fff, 910px 1678px #fff,
    1311px 623px #fff, 1944px 1156px #fff, 401px 922px #fff, 1080px 909px #fff,
    513px 555px #fff, 397px 1240px #fff, 956px 1928px #fff, 1677px 1163px #fff,
    354px 406px #fff, 462px 668px #fff, 1px 1625px #fff, 144px 1335px #fff,
    15px 1289px #fff, 1511px 1717px #fff, 273px 1138px #fff, 885px 1423px #fff,
    1889px 328px #fff, 1200px 639px #fff, 1322px 591px #fff, 1657px 66px #fff,
    1360px 1246px #fff, 421px 1253px #fff, 119px 248px #fff, 540px 1733px #fff,
    1152px 1278px #fff, 1827px 624px #fff, 1617px 122px #fff, 102px 1184px #fff,
    136px 796px #fff, 1702px 456px #fff, 1467px 1288px #fff, 749px 1138px #fff,
    446px 1070px #fff, 438px 1386px #fff, 1148px 319px #fff, 606px 480px #fff,
    580px 1089px #fff, 819px 345px #fff, 1021px 150px #fff, 922px 1171px #fff,
    219px 1148px #fff, 1110px 1876px #fff, 847px 1861px #fff, 1883px 1973px #fff,
    1730px 508px #fff, 678px 210px #fff, 292px 212px #fff, 1196px 17px #fff,
    55px 924px #fff, 1093px 1345px #fff, 727px 1055px #fff, 993px 412px #fff,
    1025px 1848px #fff, 888px 1984px #fff, 717px 1741px #fff, 1140px 843px #fff,
    653px 885px #fff, 824px 1289px #fff, 967px 675px #fff, 1101px 565px #fff,
    108px 1660px #fff, 1660px 1236px #fff, 1710px 1089px #fff,
    1458px 1270px #fff, 1682px 1787px #fff, 273px 1077px #fff,
    1979px 1567px #fff, 1214px 730px #fff, 123px 1275px #fff, 497px 1855px #fff,
    1128px 1433px #fff, 201px 1661px #fff, 1167px 273px #fff, 393px 154px #fff,
    1022px 296px #fff, 1109px 106px #fff, 129px 913px #fff, 744px 712px #fff,
    1296px 302px #fff, 1675px 1947px #fff, 723px 631px #fff, 200px 1524px #fff,
    125px 791px #fff, 1342px 1714px #fff, 762px 1982px #fff, 716px 430px #fff,
    1471px 665px #fff, 1934px 794px #fff, 1789px 633px #fff, 171px 1825px #fff,
    722px 1858px #fff, 367px 1708px #fff, 1982px 112px #fff, 437px 1053px #fff,
    584px 611px #fff, 1161px 315px #fff, 284px 563px #fff, 164px 1205px #fff,
    518px 152px #fff, 1519px 648px #fff, 1489px 1478px #fff, 217px 776px #fff,
    670px 716px #fff, 1865px 350px #fff, 1731px 665px #fff, 709px 446px #fff,
    985px 1441px #fff, 1722px 773px #fff, 291px 125px #fff, 463px 983px #fff,
    143px 1341px #fff, 1062px 207px #fff, 205px 1489px #fff, 1512px 887px #fff,
    295px 986px #fff, 56px 644px #fff, 1498px 1993px #fff, 1430px 599px #fff,
    658px 783px #fff, 418px 1089px #fff, 1214px 1363px #fff, 266px 556px #fff,
    1590px 413px #fff, 52px 926px #fff, 906px 1791px #fff, 1616px 1632px #fff,
    104px 1131px #fff, 370px 1667px #fff, 355px 1682px #fff, 1110px 1176px #fff,
    1331px 771px #fff, 1511px 500px #fff, 1839px 1364px #fff, 946px 1096px #fff,
    1249px 1045px #fff, 1729px 1475px #fff, 1521px 1320px #fff,
    141px 1199px #fff, 1766px 680px #fff, 1713px 277px #fff, 609px 1003px #fff,
    1871px 881px #fff, 359px 71px #fff, 1854px 946px #fff, 873px 1422px #fff,
    316px 1683px #fff, 78px 1232px #fff, 160px 405px #fff, 1877px 406px #fff,
    478px 1633px #fff, 1532px 373px #fff, 687px 296px #fff, 1438px 1277px #fff,
    1847px 377px #fff, 1003px 1899px #fff, 873px 35px #fff, 1910px 342px #fff,
    118px 1145px #fff, 278px 1948px #fff, 101px 587px #fff, 1915px 1416px #fff,
    209px 1348px #fff, 1277px 1768px #fff, 811px 585px #fff, 758px 743px #fff,
    1480px 407px #fff, 343px 582px #fff, 1359px 1589px #fff, 1429px 873px #fff,
    1192px 713px #fff, 1408px 315px #fff, 752px 1660px #fff, 1755px 248px #fff,
    793px 1804px #fff, 1897px 525px #fff, 1290px 315px #fff, 764px 1937px #fff,
    1583px 1243px #fff, 632px 1972px #fff, 1532px 1999px #fff, 156px 1929px #fff,
    466px 413px #fff, 28px 679px #fff, 1784px 225px #fff, 600px 1225px #fff,
    387px 175px #fff, 1670px 1367px #fff, 1949px 1950px #fff, 287px 1682px #fff,
    1221px 1666px #fff, 619px 684px #fff, 931px 935px #fff, 1736px 1572px #fff,
    1734px 1769px #fff, 1843px 894px #fff, 101px 1333px #fff, 1503px 1381px #fff,
    14px 1779px #fff, 1745px 1051px #fff, 179px 1920px #fff, 128px 1035px #fff,
    1253px 657px #fff, 576px 1428px #fff, 1584px 1790px #fff, 888px 1787px #fff,
    262px 1874px #fff, 187px 539px #fff, 287px 1914px #fff, 1820px 1386px #fff,
    1433px 830px #fff, 14px 97px #fff, 319px 1477px #fff, 1551px 1559px #fff,
    1940px 1982px #fff, 1814px 957px #fff, 1632px 691px #fff, 1279px 1863px #fff,
    1554px 769px #fff, 378px 240px #fff, 548px 669px #fff, 317px 1187px #fff,
    545px 614px #fff, 785px 1676px #fff, 1853px 1776px #fff, 1985px 1115px #fff,
    584px 1213px #fff, 757px 735px #fff, 1794px 275px #fff, 1607px 1501px #fff,
    1792px 1853px #fff, 1578px 133px #fff, 1319px 1859px #fff, 1394px 409px #fff,
    736px 295px #fff, 1160px 1248px #fff, 1988px 1271px #fff, 918px 1921px #fff,
    1221px 1205px #fff, 756px 362px #fff, 775px 1027px #fff, 414px 421px #fff,
    1471px 1208px #fff, 1909px 1314px #fff, 638px 257px #fff, 1037px 127px #fff,
    1856px 1577px #fff, 1931px 565px #fff, 778px 604px #fff, 689px 659px #fff,
    980px 1248px #fff, 302px 1111px #fff, 794px 437px #fff, 363px 1688px #fff,
    1551px 1623px #fff, 834px 1634px #fff, 1741px 1310px #fff, 1601px 727px #fff,
    789px 1547px #fff, 191px 236px #fff, 1782px 378px #fff, 761px 1285px #fff,
    592px 1269px #fff, 1096px 641px #fff, 803px 1449px #fff, 1749px 147px #fff,
    381px 1501px #fff, 171px 803px #fff, 1911px 29px #fff, 581px 1972px #fff,
    528px 592px #fff, 1164px 1778px #fff, 1421px 1068px #fff, 1261px 894px #fff,
    1545px 1260px #fff, 857px 594px #fff, 340px 73px #fff, 1258px 1786px #fff,
    614px 1904px #fff, 1797px 328px #fff, 1527px 742px #fff, 873px 931px #fff,
    951px 802px #fff, 138px 672px #fff, 24px 1916px #fff, 1669px 832px #fff,
    1571px 632px #fff, 881px 1711px #fff, 184px 1800px #fff, 1468px 1089px #fff,
    953px 721px #fff, 381px 497px #fff, 1038px 1262px #fff, 665px 1705px #fff,
    373px 1298px #fff, 1206px 620px #fff, 1000px 1322px #fff, 750px 1884px #fff,
    201px 1896px #fff, 814px 549px #fff, 165px 71px #fff, 1389px 1845px #fff,
    951px 1244px #fff, 621px 1199px #fff, 944px 1576px #fff, 940px 1582px #fff,
    1295px 101px #fff, 923px 1682px #fff, 1712px 1561px #fff, 523px 1079px #fff,
    1398px 987px #fff, 883px 809px #fff, 515px 793px #fff, 1678px 543px #fff,
    1659px 224px #fff, 790px 575px #fff, 1038px 920px #fff, 1099px 726px #fff,
    329px 1947px #fff, 36px 1581px #fff, 1806px 626px #fff, 532px 300px #fff,
    1656px 1942px #fff, 684px 747px #fff, 879px 913px #fff, 1766px 370px #fff,
    641px 1184px #fff, 983px 1601px #fff, 1023px 1366px #fff, 952px 1265px #fff,
    736px 133px #fff, 119px 763px #fff, 1866px 138px #fff, 336px 1827px #fff,
    1663px 1209px #fff, 105px 342px #fff, 242px 1511px #fff, 555px 175px #fff,
    857px 289px #fff, 1783px 927px #fff, 364px 1907px #fff, 1320px 1322px #fff,
    34px 413px #fff, 733px 909px #fff, 532px 370px #fff, 1195px 153px #fff,
    1377px 490px #fff, 798px 34px #fff, 1455px 125px #fff, 99px 823px #fff,
    982px 362px #fff, 1530px 393px #fff, 1601px 1674px #fff, 414px 1905px #fff,
    841px 34px #fff, 1065px 1701px #fff, 1835px 1848px #fff, 1192px 417px #fff,
    1260px 1663px #fff, 1661px 1842px #fff, 1622px 984px #fff, 398px 491px #fff,
    192px 666px #fff, 1058px 1416px #fff, 1126px 225px #fff, 237px 339px #fff,
    1427px 1392px #fff, 306px 1469px #fff, 200px 1136px #fff, 1558px 240px #fff,
    993px 1721px #fff, 169px 924px #fff, 407px 849px #fff, 1641px 1561px #fff,
    945px 886px #fff, 1707px 419px #fff, 222px 214px #fff, 1685px 1830px #fff,
    863px 871px #fff, 497px 1817px #fff, 538px 90px #fff, 788px 1431px #fff,
    1927px 1374px #fff, 893px 775px #fff, 481px 975px #fff, 338px 154px #fff,
    650px 1295px #fff, 1777px 1062px #fff, 170px 739px #fff, 1116px 569px #fff,
    74px 236px #fff, 544px 842px #fff, 1130px 90px #fff, 573px 396px #fff,
    68px 1219px #fff, 457px 1257px #fff, 1838px 930px #fff, 604px 1516px #fff,
    1535px 916px #fff, 1600px 1048px #fff, 1594px 404px #fff, 498px 482px #fff,
    612px 1725px #fff, 474px 342px #fff, 1045px 38px #fff, 1147px 1494px #fff,
    122px 403px #fff, 119px 318px #fff, 490px 213px #fff, 1083px 1348px #fff,
    492px 1455px #fff, 764px 704px #fff, 1049px 600px #fff, 805px 1752px #fff,
    738px 1175px #fff, 1352px 1703px #fff, 1471px 447px #fff, 446px 1830px #fff,
    921px 1954px #fff, 561px 604px #fff, 1110px 387px #fff, 1129px 826px #fff,
    1050px 1294px #fff, 94px 374px #fff, 755px 1253px #fff, 562px 1726px #fff,
    501px 1696px #fff, 1084px 1852px #fff, 72px 1295px #fff, 48px 1901px #fff,
    1948px 760px #fff, 1022px 1193px #fff, 366px 749px #fff, 417px 440px #fff,
    256px 1239px #fff, 1658px 1911px #fff, 745px 656px #fff, 1091px 216px #fff,
    533px 444px #fff, 1071px 168px #fff, 825px 23px #fff, 357px 1765px #fff,
    731px 1102px #fff, 1106px 799px #fff, 846px 1015px #fff, 1532px 1019px #fff,
    1711px 29px #fff, 445px 1527px #fff, 140px 1095px #fff, 763px 1517px #fff,
    1605px 1815px #fff, 1543px 40px #fff, 386px 1303px #fff, 1445px 412px #fff,
    1921px 1365px #fff, 914px 1146px #fff, 225px 329px #fff, 1443px 624px #fff,
    648px 1694px #fff, 305px 1095px #fff, 1469px 126px #fff, 1918px 581px #fff,
    1200px 293px #fff, 96px 1684px #fff, 407px 1888px #fff, 1417px 1639px #fff,
    1233px 1177px #fff, 1709px 1136px #fff, 91px 385px #fff, 1536px 1326px #fff,
    75px 1726px #fff, 1112px 1583px #fff, 1663px 43px #fff, 1203px 1587px #fff,
    183px 1643px #fff, 921px 845px #fff, 1167px 1375px #fff, 715px 689px #fff,
    1714px 666px #fff, 1220px 924px #fff, 1591px 1630px #fff, 370px 1926px #fff,
    1571px 1014px #fff, 17px 1087px #fff, 907px 1831px #fff, 114px 1319px #fff,
    380px 852px #fff, 368px 1831px #fff, 1780px 1666px #fff, 113px 748px #fff,
    533px 783px #fff, 422px 1922px #fff, 207px 1725px #fff, 1613px 301px #fff,
    916px 144px #fff, 1078px 1930px #fff, 982px 362px #fff, 1209px 1708px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1603px 420px #fff, 413px 969px #fff, 986px 1597px #fff,
    1371px 1555px #fff, 1116px 1670px #fff, 276px 991px #fff, 238px 1425px #fff,
    113px 1907px #fff, 297px 1512px #fff, 1422px 1699px #fff, 1188px 663px #fff,
    1794px 1940px #fff, 656px 155px #fff, 530px 213px #fff, 489px 1203px #fff,
    734px 25px #fff, 1832px 1745px #fff, 1576px 1354px #fff, 1239px 1090px #fff,
    1829px 1744px #fff, 1430px 1267px #fff, 748px 674px #fff, 443px 1087px #fff,
    1258px 1815px #fff, 254px 271px #fff, 1165px 589px #fff, 470px 1268px #fff,
    282px 204px #fff, 975px 1314px #fff, 977px 1628px #fff, 428px 749px #fff,
    1265px 675px #fff, 1500px 245px #fff, 531px 766px #fff, 1281px 1053px #fff,
    465px 207px #fff, 1976px 1646px #fff, 1569px 1699px #fff, 551px 114px #fff,
    1589px 1301px #fff, 166px 1190px #fff, 950px 1638px #fff, 1195px 1014px #fff,
    116px 558px #fff, 1689px 231px #fff, 1px 1610px #fff, 1023px 1119px #fff,
    1939px 1528px #fff, 903px 169px #fff, 1921px 1718px #fff, 956px 1886px #fff,
    1068px 877px #fff, 1665px 1960px #fff, 1719px 1593px #fff,
    1593px 1121px #fff, 1649px 318px #fff, 1193px 827px #fff, 250px 1125px #fff,
    1883px 1249px #fff, 1744px 528px #fff, 1511px 1870px #fff, 67px 1983px #fff,
    643px 1893px #fff, 1322px 1874px #fff, 419px 222px #fff, 1652px 63px #fff,
    1723px 650px #fff, 1542px 1931px #fff, 961px 1740px #fff, 1412px 159px #fff,
    464px 1298px #fff, 1577px 1060px #fff, 274px 176px #fff, 923px 1093px #fff,
    1276px 982px #fff, 1659px 138px #fff, 83px 1885px #fff, 1629px 589px #fff,
    936px 190px #fff, 1633px 467px #fff, 1064px 493px #fff, 1913px 485px #fff,
    826px 991px #fff, 476px 610px #fff, 1302px 1578px #fff, 154px 1373px #fff,
    1185px 46px #fff, 740px 1365px #fff, 98px 1036px #fff, 1435px 514px #fff,
    1126px 1276px #fff, 668px 1087px #fff, 1881px 1605px #fff,
    1890px 1864px #fff, 293px 54px #fff, 1121px 709px #fff, 1808px 1135px #fff,
    488px 1005px #fff, 281px 1205px #fff, 613px 381px #fff, 975px 1686px #fff,
    679px 1067px #fff, 1286px 461px #fff, 1445px 1103px #fff, 1771px 1993px #fff,
    38px 691px #fff, 1675px 660px #fff, 1816px 508px #fff, 1786px 164px #fff,
    692px 1874px #fff, 774px 1792px #fff, 1151px 1242px #fff, 1959px 294px #fff,
    1916px 1048px #fff, 1721px 793px #fff, 1356px 1815px #fff,
    1599px 1363px #fff, 1083px 1847px #fff, 683px 1617px #fff, 816px 695px #fff,
    751px 1947px #fff, 493px 1479px #fff, 964px 1762px #fff, 578px 1926px #fff,
    697px 1932px #fff, 1929px 1981px #fff, 1767px 1355px #fff, 1773px 181px #fff,
    430px 1992px #fff, 193px 63px #fff, 493px 795px #fff, 622px 1936px #fff,
    1631px 1201px #fff, 408px 881px #fff, 1174px 854px #fff, 7px 417px #fff,
    315px 662px #fff, 1509px 272px #fff, 1306px 1446px #fff, 1826px 706px #fff,
    1579px 1325px #fff, 858px 272px #fff, 1713px 1030px #fff, 1941px 486px #fff,
    846px 266px #fff, 754px 1813px #fff, 68px 235px #fff, 1972px 1895px #fff,
    1163px 1073px #fff, 1072px 84px #fff, 701px 439px #fff, 903px 1947px #fff,
    1465px 662px #fff, 53px 182px #fff, 22px 1940px #fff, 923px 1028px #fff,
    1789px 971px #fff, 1704px 767px #fff, 893px 576px #fff, 308px 990px #fff,
    469px 1044px #fff, 1595px 1760px #fff, 505px 1909px #fff, 1265px 1887px #fff,
    1648px 720px #fff, 1854px 1624px #fff, 1721px 107px #fff, 155px 423px #fff,
    792px 1865px #fff, 389px 1003px #fff, 1826px 535px #fff, 1001px 783px #fff,
    445px 329px #fff, 1436px 1501px #fff, 1517px 1049px #fff, 18px 1499px #fff,
    1331px 1235px #fff, 1709px 1627px #fff, 1375px 160px #fff,
    1020px 1260px #fff, 781px 340px #fff, 1061px 1334px #fff, 1936px 432px #fff,
    1630px 981px #fff, 315px 910px #fff, 630px 1348px #fff, 1387px 1426px #fff,
    1684px 784px #fff, 666px 749px #fff, 364px 390px #fff, 1208px 1245px #fff,
    1922px 373px #fff, 115px 1336px #fff, 1186px 740px #fff, 559px 1929px #fff,
    1192px 1643px #fff, 916px 1749px #fff, 1122px 1944px #fff, 1175px 718px #fff,
    774px 1963px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1603px 420px #fff, 413px 969px #fff, 986px 1597px #fff,
    1371px 1555px #fff, 1116px 1670px #fff, 276px 991px #fff, 238px 1425px #fff,
    113px 1907px #fff, 297px 1512px #fff, 1422px 1699px #fff, 1188px 663px #fff,
    1794px 1940px #fff, 656px 155px #fff, 530px 213px #fff, 489px 1203px #fff,
    734px 25px #fff, 1832px 1745px #fff, 1576px 1354px #fff, 1239px 1090px #fff,
    1829px 1744px #fff, 1430px 1267px #fff, 748px 674px #fff, 443px 1087px #fff,
    1258px 1815px #fff, 254px 271px #fff, 1165px 589px #fff, 470px 1268px #fff,
    282px 204px #fff, 975px 1314px #fff, 977px 1628px #fff, 428px 749px #fff,
    1265px 675px #fff, 1500px 245px #fff, 531px 766px #fff, 1281px 1053px #fff,
    465px 207px #fff, 1976px 1646px #fff, 1569px 1699px #fff, 551px 114px #fff,
    1589px 1301px #fff, 166px 1190px #fff, 950px 1638px #fff, 1195px 1014px #fff,
    116px 558px #fff, 1689px 231px #fff, 1px 1610px #fff, 1023px 1119px #fff,
    1939px 1528px #fff, 903px 169px #fff, 1921px 1718px #fff, 956px 1886px #fff,
    1068px 877px #fff, 1665px 1960px #fff, 1719px 1593px #fff,
    1593px 1121px #fff, 1649px 318px #fff, 1193px 827px #fff, 250px 1125px #fff,
    1883px 1249px #fff, 1744px 528px #fff, 1511px 1870px #fff, 67px 1983px #fff,
    643px 1893px #fff, 1322px 1874px #fff, 419px 222px #fff, 1652px 63px #fff,
    1723px 650px #fff, 1542px 1931px #fff, 961px 1740px #fff, 1412px 159px #fff,
    464px 1298px #fff, 1577px 1060px #fff, 274px 176px #fff, 923px 1093px #fff,
    1276px 982px #fff, 1659px 138px #fff, 83px 1885px #fff, 1629px 589px #fff,
    936px 190px #fff, 1633px 467px #fff, 1064px 493px #fff, 1913px 485px #fff,
    826px 991px #fff, 476px 610px #fff, 1302px 1578px #fff, 154px 1373px #fff,
    1185px 46px #fff, 740px 1365px #fff, 98px 1036px #fff, 1435px 514px #fff,
    1126px 1276px #fff, 668px 1087px #fff, 1881px 1605px #fff,
    1890px 1864px #fff, 293px 54px #fff, 1121px 709px #fff, 1808px 1135px #fff,
    488px 1005px #fff, 281px 1205px #fff, 613px 381px #fff, 975px 1686px #fff,
    679px 1067px #fff, 1286px 461px #fff, 1445px 1103px #fff, 1771px 1993px #fff,
    38px 691px #fff, 1675px 660px #fff, 1816px 508px #fff, 1786px 164px #fff,
    692px 1874px #fff, 774px 1792px #fff, 1151px 1242px #fff, 1959px 294px #fff,
    1916px 1048px #fff, 1721px 793px #fff, 1356px 1815px #fff,
    1599px 1363px #fff, 1083px 1847px #fff, 683px 1617px #fff, 816px 695px #fff,
    751px 1947px #fff, 493px 1479px #fff, 964px 1762px #fff, 578px 1926px #fff,
    697px 1932px #fff, 1929px 1981px #fff, 1767px 1355px #fff, 1773px 181px #fff,
    430px 1992px #fff, 193px 63px #fff, 493px 795px #fff, 622px 1936px #fff,
    1631px 1201px #fff, 408px 881px #fff, 1174px 854px #fff, 7px 417px #fff,
    315px 662px #fff, 1509px 272px #fff, 1306px 1446px #fff, 1826px 706px #fff,
    1579px 1325px #fff, 858px 272px #fff, 1713px 1030px #fff, 1941px 486px #fff,
    846px 266px #fff, 754px 1813px #fff, 68px 235px #fff, 1972px 1895px #fff,
    1163px 1073px #fff, 1072px 84px #fff, 701px 439px #fff, 903px 1947px #fff,
    1465px 662px #fff, 53px 182px #fff, 22px 1940px #fff, 923px 1028px #fff,
    1789px 971px #fff, 1704px 767px #fff, 893px 576px #fff, 308px 990px #fff,
    469px 1044px #fff, 1595px 1760px #fff, 505px 1909px #fff, 1265px 1887px #fff,
    1648px 720px #fff, 1854px 1624px #fff, 1721px 107px #fff, 155px 423px #fff,
    792px 1865px #fff, 389px 1003px #fff, 1826px 535px #fff, 1001px 783px #fff,
    445px 329px #fff, 1436px 1501px #fff, 1517px 1049px #fff, 18px 1499px #fff,
    1331px 1235px #fff, 1709px 1627px #fff, 1375px 160px #fff,
    1020px 1260px #fff, 781px 340px #fff, 1061px 1334px #fff, 1936px 432px #fff,
    1630px 981px #fff, 315px 910px #fff, 630px 1348px #fff, 1387px 1426px #fff,
    1684px 784px #fff, 666px 749px #fff, 364px 390px #fff, 1208px 1245px #fff,
    1922px 373px #fff, 115px 1336px #fff, 1186px 740px #fff, 559px 1929px #fff,
    1192px 1643px #fff, 916px 1749px #fff, 1122px 1944px #fff, 1175px 718px #fff,
    774px 1963px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 431px 921px #fff, 1426px 707px #fff, 1766px 582px #fff,
    623px 259px #fff, 973px 560px #fff, 737px 1065px #fff, 822px 1949px #fff,
    1665px 1197px #fff, 1262px 717px #fff, 708px 51px #fff, 1618px 1749px #fff,
    1439px 1998px #fff, 173px 1302px #fff, 59px 292px #fff, 319px 1076px #fff,
    338px 1673px #fff, 1347px 1761px #fff, 1569px 1818px #fff, 1484px 440px #fff,
    550px 874px #fff, 1337px 1274px #fff, 819px 417px #fff, 1866px 85px #fff,
    797px 919px #fff, 882px 531px #fff, 305px 1433px #fff, 1985px 1207px #fff,
    1220px 69px #fff, 830px 1855px #fff, 342px 1126px #fff, 1790px 1214px #fff,
    1986px 499px #fff, 658px 1037px #fff, 35px 1774px #fff, 885px 1256px #fff,
    1581px 938px #fff, 612px 1716px #fff, 582px 1562px #fff, 532px 301px #fff,
    289px 1250px #fff, 874px 699px #fff, 1724px 363px #fff, 1145px 304px #fff,
    1003px 1892px #fff, 61px 60px #fff, 870px 876px #fff, 1542px 973px #fff,
    324px 495px #fff, 437px 625px #fff, 356px 398px #fff, 1511px 1054px #fff,
    1194px 1710px #fff, 829px 1661px #fff, 1238px 340px #fff, 1833px 1008px #fff,
    1710px 1389px #fff, 34px 137px #fff, 1110px 262px #fff, 1592px 172px #fff,
    552px 148px #fff, 1151px 1211px #fff, 945px 13px #fff, 148px 134px #fff,
    1637px 972px #fff, 224px 240px #fff, 1162px 739px #fff, 1186px 1593px #fff,
    1379px 1307px #fff, 1696px 1680px #fff, 354px 885px #fff, 1202px 1559px #fff,
    1336px 275px #fff, 1898px 1472px #fff, 1210px 1217px #fff, 369px 792px #fff,
    491px 206px #fff, 966px 1290px #fff, 530px 559px #fff, 17px 1286px #fff,
    1444px 1320px #fff, 1627px 298px #fff, 1661px 1599px #fff, 871px 619px #fff,
    1902px 1553px #fff, 40px 484px #fff, 1410px 1354px #fff, 1715px 56px #fff,
    1667px 1670px #fff, 122px 1551px #fff, 862px 454px #fff, 14px 1397px #fff,
    680px 742px #fff, 532px 1845px #fff, 421px 1216px #fff, 167px 1514px #fff,
    1466px 1642px #fff, 1865px 978px #fff, 637px 1612px #fff, 1537px 1319px #fff,
    529px 1589px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 431px 921px #fff, 1426px 707px #fff, 1766px 582px #fff,
    623px 259px #fff, 973px 560px #fff, 737px 1065px #fff, 822px 1949px #fff,
    1665px 1197px #fff, 1262px 717px #fff, 708px 51px #fff, 1618px 1749px #fff,
    1439px 1998px #fff, 173px 1302px #fff, 59px 292px #fff, 319px 1076px #fff,
    338px 1673px #fff, 1347px 1761px #fff, 1569px 1818px #fff, 1484px 440px #fff,
    550px 874px #fff, 1337px 1274px #fff, 819px 417px #fff, 1866px 85px #fff,
    797px 919px #fff, 882px 531px #fff, 305px 1433px #fff, 1985px 1207px #fff,
    1220px 69px #fff, 830px 1855px #fff, 342px 1126px #fff, 1790px 1214px #fff,
    1986px 499px #fff, 658px 1037px #fff, 35px 1774px #fff, 885px 1256px #fff,
    1581px 938px #fff, 612px 1716px #fff, 582px 1562px #fff, 532px 301px #fff,
    289px 1250px #fff, 874px 699px #fff, 1724px 363px #fff, 1145px 304px #fff,
    1003px 1892px #fff, 61px 60px #fff, 870px 876px #fff, 1542px 973px #fff,
    324px 495px #fff, 437px 625px #fff, 356px 398px #fff, 1511px 1054px #fff,
    1194px 1710px #fff, 829px 1661px #fff, 1238px 340px #fff, 1833px 1008px #fff,
    1710px 1389px #fff, 34px 137px #fff, 1110px 262px #fff, 1592px 172px #fff,
    552px 148px #fff, 1151px 1211px #fff, 945px 13px #fff, 148px 134px #fff,
    1637px 972px #fff, 224px 240px #fff, 1162px 739px #fff, 1186px 1593px #fff,
    1379px 1307px #fff, 1696px 1680px #fff, 354px 885px #fff, 1202px 1559px #fff,
    1336px 275px #fff, 1898px 1472px #fff, 1210px 1217px #fff, 369px 792px #fff,
    491px 206px #fff, 966px 1290px #fff, 530px 559px #fff, 17px 1286px #fff,
    1444px 1320px #fff, 1627px 298px #fff, 1661px 1599px #fff, 871px 619px #fff,
    1902px 1553px #fff, 40px 484px #fff, 1410px 1354px #fff, 1715px 56px #fff,
    1667px 1670px #fff, 122px 1551px #fff, 862px 454px #fff, 14px 1397px #fff,
    680px 742px #fff, 532px 1845px #fff, 421px 1216px #fff, 167px 1514px #fff,
    1466px 1642px #fff, 1865px 978px #fff, 637px 1612px #fff, 1537px 1319px #fff,
    529px 1589px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
